/* screen - macbook-pro-14u34-u45-2-porfifolio-u4513 */

.macbook-pro-14u34-u45-2-porfifolio-u4513 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  overflow: hidden;
  width: 1512px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .flex-row {
  gap: 76px;
  height: 2095px;
  margin-left: -4390px;
  margin-top: 4903px;
  min-width: 971px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .flex-col {
  flex-direction: column;
  gap: 243px;
  min-height: 2095px;
  width: 428px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .flex-col-1 {
  min-height: 2095px;
  width: 467px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .flex-col-2 {
  margin-left: 1px;
  margin-top: 4903px;
  min-height: 2147px;
  width: 3095px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .flex-row-1 {
  min-width: 1868px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .flex-row-2 {
  align-self: flex-end;
  height: 978px;
  min-width: 3013px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .overlap-group3 {
  height: 1401px;
  margin-left: 323px;
  position: relative;
  width: 1512px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .rectangle-9 {
  left: 162px;
  width: 241px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .rectangle-10 {
  left: 1086px;
  width: 270px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .rectangle-11 {
  left: 526px;
  width: 437px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .logo-pdf-1 {
  height: 93px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 106px;
  width: 349px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .closeup-yellow-leave {
  height: 1401px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1512px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .healthy-harvest-food-bank {
  cursor: pointer;
  left: 604px;
  letter-spacing: 4.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 408px;
  white-space: nowrap;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .chrome-top {
  align-items: flex-end;
  background-color: var(--mercury);
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  width: 1512px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .overlap-group {
  height: 34px;
  position: relative;
  width: 240px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .chrome-navigation-bar {
  align-items: center;
  background-color: var(--white);
  display: flex;
  gap: 12px;
  left: 0;
  padding: 4px 12px;
  position: absolute;
  top: 46px;
  width: 1512px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .mintly {
  cursor: pointer;
  left: 249px;
  letter-spacing: 4.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 408px;
  white-space: nowrap;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .title {
  left: 1128px;
  letter-spacing: 6.40px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 156px;
  white-space: nowrap;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .resume {
  left: 1337px;
  letter-spacing: 6.40px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 156px;
  white-space: nowrap;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .work {
  left: 985px;
  letter-spacing: 6.40px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 156px;
  white-space: nowrap;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .department-of-education {
  cursor: pointer;
  left: 1092px;
  letter-spacing: 4.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 408px;
  white-space: nowrap;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 243px;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .flex-row-3 {
  align-items: flex-start;
  display: flex;
}

.macbook-pro-14u34-u45-2-porfifolio-u4513 .rectangle {
  background-color: var(--froly);
  border-radius: 10px;
  height: 71px;
  position: absolute;
  top: 386px;
}
